@model IEnumerable<WebApplication1.Models.SinhVien>

@{
    ViewBag.Title = "Danh Sách";
}

<h2>Kết Quả Tìm Kiếm</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.MaSV)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HoTenSV)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DiaChi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SoDienThoai)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MaSV)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HoTenSV)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DiaChi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SoDienThoai)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.MaSV }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.MaSV })
            </td>
        </tr>
    }
</table>

<p>
    @Html.ActionLink("Back to List", "Index")
</p>
